<!DOCTYPE html>
<html data-controller="scrollevents" class="scroll-smooth" lang="sv">
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Sparkz
			{% endblock %}
		</title>
		 <script src="https://kit.fontawesome.com/2e1a43ec7e.js" crossorigin="anonymous"></script>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link
		href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
		{# <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet"> #}
		<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

		<link rel="icon" href="{{asset('images/Sparkz_logo_textless.svg')}}"> {% block stylesheets %}{% endblock %}
		{{ encore_entry_link_tags('app') }}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</head>
	<nav class="bg-Blue-900 min-w-[85%] rounded-full h-16 fixed top-[24px] m-auto flex z-20 items-center pl-10 pr-10 justify-between">
		{% block nav %}
			{{component("header")}}
		{% endblock %}
	</nav>
	<body data-action="scroll@window->scrollevents#navscroll" class="flex flex-col items-center"> {% block body %}{% endblock %}

		</body>
	</html>
